name: Multilinters

on:
  push:

jobs:
  build:
    name: Check code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.24"]
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9.1.0
